/.vs/MyDynamicPlugin/v16/.suo
/bin/Debug/*.dll
/bin/Debug/*.xml
/bin/Debug/*.pdb
/bin/Debug/*.txt
/obj/Debug/*.cs
/obj/Debug/*.cache
/obj/Debug/*.CopyComplete
/obj/Debug/*.txt
/obj/Debug/*.dll
/obj/Debug/*.pdb
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.5/*.p7s
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.5/*.nupkg
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.5/lib/net452/*.docx
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.5/lib/net452/*.dll
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.5/lib/net452/*.xml
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.5/lib/net452/*.txt
/packages/Microsoft.CrmSdk.Deployment.9.0.2.4/*.p7s
/packages/Microsoft.CrmSdk.Deployment.9.0.2.4/*.nupkg
/packages/Microsoft.CrmSdk.Deployment.9.0.2.4/lib/net452/*.docx
/packages/Microsoft.CrmSdk.Deployment.9.0.2.4/lib/net452/*.dll
/packages/Microsoft.CrmSdk.Deployment.9.0.2.4/lib/net452/*.xml
/packages/Microsoft.CrmSdk.Deployment.9.0.2.4/lib/net452/*.txt
/packages/Microsoft.CrmSdk.Workflow.9.0.2.4/*.p7s
/packages/Microsoft.CrmSdk.Workflow.9.0.2.4/*.nupkg
/packages/Microsoft.CrmSdk.Workflow.9.0.2.4/lib/net452/*.docx
/packages/Microsoft.CrmSdk.Workflow.9.0.2.4/lib/net452/*.dll
/packages/Microsoft.CrmSdk.Workflow.9.0.2.4/lib/net452/*.xml
/packages/Microsoft.CrmSdk.Workflow.9.0.2.4/lib/net452/*.txt
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.0.2.5/*.p7s
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.0.2.5/*.nupkg
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.0.2.5/lib/net452/*.dll
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.0.2.5/lib/net452/*.xml
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.0.2.5/lib/net452/*.txt
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.0.2.5/lib/net452/*.docx
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/*.p7s
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/*.nupkg
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/images/*.png
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/*.dll
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/*.txt
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/*.exe
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/*.config
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/*.zip
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/*.docx
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/*.json
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/net48/*.dll
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/net48/*.exe
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/net48/*.config
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/net48/*.zip
/packages/Microsoft.CrmSdk.XrmTooling.PluginRegistrationTool.9.1.0.155/tools/net48/*.json
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/*.p7s
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/*.nupkg
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/net45/*.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/net45/*.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/netcore45/*.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/netcore45/*.winmd
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/wp/*.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/wp/*.dll
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/wpa/*.XML
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.2.22.302111727/lib/wpa/*.winmd
/packages/Newtonsoft.Json.6.0.8/*.p7s
/packages/Newtonsoft.Json.6.0.8/*.nupkg
/packages/Newtonsoft.Json.6.0.8/lib/net20/*.dll
/packages/Newtonsoft.Json.6.0.8/lib/net20/*.xml
/packages/Newtonsoft.Json.6.0.8/lib/net35/*.dll
/packages/Newtonsoft.Json.6.0.8/lib/net35/*.xml
/packages/Newtonsoft.Json.6.0.8/lib/net40/*.dll
/packages/Newtonsoft.Json.6.0.8/lib/net40/*.xml
/packages/Newtonsoft.Json.6.0.8/lib/net45/*.dll
/packages/Newtonsoft.Json.6.0.8/lib/net45/*.xml
/packages/Newtonsoft.Json.6.0.8/lib/netcore45/*.dll
/packages/Newtonsoft.Json.6.0.8/lib/netcore45/*.xml
/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/*.dll
/packages/Newtonsoft.Json.6.0.8/lib/portable-net40+sl5+wp80+win8+wpa81/*.xml
/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/*.dll
/packages/Newtonsoft.Json.6.0.8/lib/portable-net45+wp80+win8+wpa81+aspnetcore50/*.xml
/packages/Newtonsoft.Json.6.0.8/tools/*.ps1
